<html>
<head>
    <title>Pokemon Name Guesser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
</head>

<img id = "picture" src= "images/loading6.gif" height = "400", width = "400" alt="oh no it broke">

<p id = "name">?????</p>

<button id="button1">Reveal</button>
<button id="button2">Randomize</button>

<script type="text/javascript" src="js/pokemonRandom.js" async></script>
</html>